@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800");
@font-face {
  font-family: "Liberator";
  src: url("/fonts/{$font-filename}.eot");
  src: url("/fonts/{$font-filename}.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/{$font-filename}.woff") format("woff");
  src: url("/fonts/{$font-filename}.ttf") format("truetype");
  src: url("/fonts/{$font-filename}.svg#{$svg-extension}") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Haymaker";
  src: url("/fonts/{$font-filename}.eot");
  src: url("/fonts/{$font-filename}.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/{$font-filename}.woff") format("woff");
  src: url("/fonts/{$font-filename}.ttf") format("truetype");
  src: url("/fonts/{$font-filename}.svg#{$svg-extension}") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Governor";
  src: url("/fonts/{$font-filename}.eot");
  src: url("/fonts/{$font-filename}.eot?#iefix") format("embedded-opentype");
  src: url("/fonts/{$font-filename}.woff") format("woff");
  src: url("/fonts/{$font-filename}.ttf") format("truetype");
  src: url("/fonts/{$font-filename}.svg#{$svg-extension}") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
