title: Developer Conference
date: 2014-07-08 10:17:28
---

section#conference.container
  h2.section-title Developer Conference
  p
    strong Thunder Plains 
    | is a web and mobile developer conference organized by the 
    a(href="http://okcjs.com") Oklahoma City Javascript User Group
    | . The conference
    | focuses on JavaScript and related technologies in a wide variety of different use cases and
    | platforms that make the web all the more interesting.
    br
    ul.speakers-topics.row
      li.speakers-topics-js.col-sm-2.col-sm-offset-1.col-xs-4
        | Javascript
        img(src="images/speakers-topics-js.png", alt="Javascript")
      li.speakers-topics-html.col-sm-2.col-xs-4
        | HTML
        img(src="images/speakers-topics-html.png", alt="HTML")
      li.speakers-topics-css.col-sm-2.col-xs-4
        | CSS
        img(src="images/speakers-topics-css.png", alt="CSS")
      li.speakers-topics-api.col-sm-2.col-xs-4
        | APIs
        img(src="images/speakers-topics-api.png", alt="APIs")
      li.speakers-topics-mobile.col-sm-2.col-xs-4
        | Mobile
        img(src="images/speakers-topics-mobile.png", alt="Mobile")

section#schedule.container
  h2.section-title Schedule
  .schedule-legend
    span.legend-room1 Room 1
    span.legend-room2 Room 2
    span.legend-room3 Room 3

  .schedule-list
    .schedule-time
      time 8:00am-8:30am
    .schedule-event
      p
        | Registration

    .schedule-time
      time 8:30am-9:00am
    .schedule-event
      p
        | Opening Announcements

    .schedule-time
      time 9:00am-9:30am
    .schedule-keynote
      p Opening Keynote
      .schedule-talk.no-modal
        .schedule-title
          img(src="images/speakers/tba.png", alt="Luke Crouch")
          h3
            | Web For America
          h4 Luke Crouch

    .schedule-time
      time 9:30am-10:20am
    .schedule-slot
      .schedule-talk.schedule-room1
        .schedule-title
          img(src="images/speakers/tba.png", alt="")
          h3 Real World React.js
          h4 Aaron Murray
        p
          | Talk Description
      .schedule-talk.schedule-room2
        .schedule-title
          img(src="images/speakers/tba.png", alt="")
          h3 Genome.js
          h4 Eric Schoffstall
        p
          | Talk Description
      .schedule-talk.schedule-room3
        .schedule-title
          img(src="images/speakers/tba.png", alt="")
          h3 Building Massive Angular Apps
          h4 Gordon Bockus
        p
          | Talk Description

    .schedule-time
      time 10:30am-11:20am
    .schedule-slot
      .schedule-talk.schedule-room1
        .schedule-title
          img(src="images/speakers/tba.png", alt="")
          h3 Making Magic with Node.js and Redis
          h4 Waylon Flinn
        p
          | Talk Description
      .schedule-talk.schedule-room2
        .schedule-title
          img(src="images/speakers/tba.png", alt="")
          h3 Your Grandparents Probably Didn't Have Node
          h4 Jenn Schiffer
        p
          | Talk Description
      .schedule-talk.schedule-room3
        .schedule-title
          img(src="images/speakers/tba.png", alt="")
          h3 Server-less dashboards powered by Web Components
          h4 Sebastien Cevey
        p
          | Talk Description

    .schedule-time
      time 11:30pm-1:00pm
    .schedule-event
      p
        | Lunch Break

    .schedule-time
      time 1:00pm-1:50pm
    .schedule-slot
      .schedule-talk.schedule-room1
        .schedule-title
          img(src="images/speakers/tba.png", alt="")
          h3 Mobile Applications with Javascript and Ionic
          h4 Josh Bavari
        p
          | Talk Description
      .schedule-talk.schedule-room2
        .schedule-title
          img(src="images/speakers/tba.png", alt="")
          h3 Leveraging Hypermedia to Build Rich Applications
          h4 Sebastian Cevey
        p
          | Talk Description
      .schedule-talk.schedule-room3
        .schedule-title
          img(src="images/speakers/tba.png", alt="")
          h3 Johnny Five is Alive
          h4 Dereck Bailey
        p
          | Talk Description

    .schedule-time
      time 2:00pm-2:50pm
    .schedule-slot
      .schedule-talk.schedule-room1
        .schedule-title
          img(src="images/speakers/tba.png", alt="")
          h3 Use Your Words!
          h4 Tracy Hinds
        p
          | Talk Description
      .schedule-talk.schedule-room2
        .schedule-title
          img(src="images/speakers/tba.png", alt="")
          h3 Supercharge Your Productivity with Ember.js
          h4 Jeremy Green
        p
          | Talk Description
      .schedule-talk.schedule-room3
        .schedule-title
          img(src="images/speakers/tba.png", alt="")
          h3 Better Living through Control Flow Graph Generation
          h4 Chris Dickenson
        p
          | Talk Description

    .schedule-time
      time 3:00pm-3:30pm
    .schedule-event
      p
        | Break

    .schedule-time
      time 3:30pm-4:20pm
    .schedule-slot
      .schedule-talk.schedule-room1
        .schedule-title
          img(src="images/speakers/tba.png", alt="")
          h3 NodeBots Wearables: JavaScripting Your Wardrobe
          h4 Kassandra
        p
          | Talk Description
      .schedule-talk.schedule-room2
        .schedule-title
          img(src="images/speakers/tba.png", alt="")
          h3 So tell me again why we're not using node.js?
          h4 Jordan Rousseau
        p
          | Talk Description
      .schedule-talk.schedule-room3
        .schedule-title
          img(src="images/speakers/tba.png", alt="")
          h3 The Importance of Building Developer Communities
          h4 Jennifer Wadella
        p
          | Talk Description

    .schedule-time
      time 4:30pm-5:20pm
    .schedule-keynote
      p Closing Keynote
      .schedule-talk.no-modal
        .schedule-title
          img(src="images/speakers/tba.png", alt="Chris Williams")
          h3
            | Democratizing Hardware
          h4 Chris Williams

    .schedule-time
      time 5:30pm-6:00pm
    .schedule-event
      p
        | Closing Remarks &amp; Prize Drawing

    .schedule-time
      time 6:30pm - ?
    .schedule-event
      p
        | After Party (Off-site)

section#passes.container
  h2.section-title Passes
  ul.passes-list.row
    li.pass-lightning
      a(href="https://techlahoma.ticketbud.com/thunderplains-2k14")
        .pass-title.col-md-8
          h3 Lightning
          br
          | First 20 tickets sold
        .pass-price.col-md-4
          | $85
          sup 00
    li.pass-thunder
      a(href="https://techlahoma.ticketbud.com/thunderplains-2k14")
        .pass-title.col-md-8
          h3 Thunder
          br
          | Through August 15<sup>th</sup>
        .pass-price.col-md-4
          | $100
          sup 00
    li.pass-rain
      a(href="https://techlahoma.ticketbud.com/thunderplains-2k14")
        .pass-title.col-md-8
          h3 Rain
          br
          | Through September 12<sup>th</sup>
        .pass-price.col-md-4
          | $110
          sup 00
    li.pass-regular
      a(href="https://techlahoma.ticketbud.com/thunderplains-2k14")
        .pass-title.col-md-8
          h3 Regular Pass
          br
          | Through October 8<sup>th</sup>
        .pass-price.col-md-4
          | $125
          sup 00
    li.pass-onsite
      a(href="https://techlahoma.ticketbud.com/thunderplains-2k14")
        .pass-title.col-md-8
          h3 Onsite Pass
          br
          | At the door
        .pass-price.col-md-4
          | $150
          sup 00
    li.pass-students
      a(href="https://techlahoma.ticketbud.com/thunderplains-2k14")
        .pass-title.col-md-8
          h3 Students
          br
          | w/ valid Student ID
        .pass-price.col-md-4
          | $85
          sup 00
    li.pass-bulk
      a(href="https://techlahoma.ticketbud.com/thunderplains-2k14")
        .pass-title.col-md-8
          h3 Herd
          br
          | 5 or more tickets (bulk only)
        .pass-price.col-md-4
          | $100
          sup 00/ea

section#coc
  .container
    h2.section-title Code of Conduct
    p
      | Before attending the conference, 
      a(href="http://confcodeofconduct.com") please review the Thunder Plains Code of Conduct
      | . The CoC applies to all attendees, speakers, volunteers, and vendors
      | at official and unofficial events by Thunder Plains and any location
      | where attendees may be congregating. 
      a(href="mailto:info@thunderplainsconf.com") Contact us
      |  if you have questions about the COC.
    br
    p
      | Our conference is a safe learning environment for everyone. The safety
      | and well-being of attendees and others is our utmost concern, so please
      | speak up and speak out. We're here for you.

section#location
  .container
    h2.section-title Where it&#8217;s at
    p
      | Located at the 
      a(href="http://www.coxconventioncenter.com/") Cox Convention Center
      |  in downtown Oklahoma City
      br
      | within walking distance of great hotels and restaurants.
  #map
